<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo ut est rhoncus luctus non id massa.
    Sed finibus ullamcorper ullamcorper. Nam tempus finibus purus et tincidunt. Integer ante elit,
    eleifend vel enim nec, ultricies fringilla velit. Vivamus vestibulum tempor ipsum id aliquam.
    Nulla facilisi. Vestibulum ut dignissim odio. Vivamus a est at sapien tincidunt molestie.</p>
</body>
</html>