<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Bienvenue dans notre Magasin de bluray </h1>

<h2>Voici notre catalogue interactif</h2>

<ul>
    <li>
        <a href="#">Ajouter un film</a>
    </li>
</ul>

<h3>Notre liste de film</h3>

<table>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.genre}"></td>
    </tr>
</table>
</body>
</html>